body{ padding:0; margin:0; border:0; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px}
ul,li{ list-style:none; padding:0; margin:0}
a{ text-decoration:none}

.nav-top{ width:100%; height:65px; border-top:solid 2px #cc374b; background:#2b2927; color:#fff}
.nav-top>span{ float:left; height:65px; line-height:65px; display:block; font-family:"·½ÕýÀ¼Í¤´ÖºÚ¼òÌå"; font-size:28px; font-weight:bold; margin-left:50px}
.nav-top>.nav-topright{ float:right}
.nav-top>.nav-topright>p{ float:left; height:65px; line-height:65px; padding:0; margin:0; display:block; margin-right:50px}
.nav-top>.nav-topright>span{ float:left; display:block; height:65px; line-height:65px; margin-right:20px}
.nav-down{ width:100%; height:auto;}

.leftmenu{ float:left; width:230px; background:#424f63; height:100%; position:absolute}
.leftmenu>ul{ float:left; width:230px; height:auto;}
.leftmenu>ul>li{ width:230px; float:left; height:auto; position:relative}
.leftmenu>ul>li>a{ width:230px; height:45px; float:left; display:block; line-height:45px; color:#FFF; text-indent:2.5em; cursor:pointer; border-top:solid 1px #FFF}
.leftmenu>ul>li>a.a_list1{ background:url(../images/ic_grid.png) no-repeat 15px center}
.leftmenu>ul>li>a.a_list2{ background:url(../images/ic_user.png) no-repeat 15px center}
.leftmenu>ul>li>a.a_list3{ background:url(../images/ic_chats.png) no-repeat 15px center}

.leftmenu>ul>li>.menu_list{ width:230px; height:auto; float:left; font-size:14px; background:#353f4f;}
.leftmenu>ul>li>.menu_list_first{ background:#353f4f;}
.leftmenu>ul>li>.menu_list>a{ width:230px; float:left; height:38px; line-height:38px; text-indent:3em; color:#FFF; display:block}
.leftmenu>ul>li>.menu_list>a:hover{ background:#2a323f}




.rightcon{ margin-left:240px; }
.rightcon .right_con{ width:100%; margin:auto; display:table}
.rightcon .right_con>p{ margin:0; margin-top:10px; width:100%; display:block}

